*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #08235be6;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 85px;
    background: #32569fd1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    box-shadow: 0 0 20px rgb(35, 88, 97);
    backdrop-filter: blur(17px);
}

.logo{
    height: auto;
    width: 3cm;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 45px;
    border: #000000 10px;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 4px;
    background: #06d4e3bc;
    border-radius: 6px;
    transform-origin: center;
    transform: scaleX(0);
    transition: .4s;
}

.navigation a:hover::after{
    transform: scaleX(1);
}

/* slide show start*/

.slide-show{
    margin-top: 89.99px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.slider{
    width: 86%;
    height: 650px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 100%;
    height: 650px;
}

/*manual slide navigation*/

.navigation-manual{
    position: absolute;
    width: 86%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 000000001s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #ffffff;
}

#radio1:checked ~ .first{
    margin-left: 0%;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

#radio5:checked ~ .first{
    margin-left: -80%;
}

/* automatic navigation*/

.navigation-auto{
    position: absolute;
    display: flex;
    width: 86%;
    justify-content: center;
    margin-top: 600px;
}

.navigation-auto div{
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    transition: 1s
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:chacked ~ .navigation-auto .auto-btn1{
    background: #ffffff;
}

#radio2:chacked ~ .navigation-auto .auto-btn2{
    background: #ffffff;
}

#radio3:chacked ~ .navigation-auto .auto-btn3{
    background: #ffffff;
}

#radio4:chacked ~ .navigation-auto .auto-btn4{
    background: #ffffff;
}

#radio5:chacked ~ .navigation-auto .auto-btn5{
    background: #ffffff;
}

/* slide show end*/

/* footer start*/

footer{
    position: flex;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000;
    height: 250px;
    width: 100%;
    padding-top: 40px;
    color: #ffffff;
}

.footer-content{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 25px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 48px;
    background: linear-gradient(to right, #a32733, #0d7be2);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.underline{
    width: 100%;
    height: 5px;
    background: #0000003f;
    border-radius: 3px;
    position: relative;
    top: -13px;
    left: 0;
    overflow: hidden;
}

.underline span{
    width: 20px;
    height: 100%;
    background: #0094d4;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving{
    0%{
        left: -40px;
    }
    100%{
        left: 100%;
    }
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0 48px 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #ffffff;
}

.socials a i{
    font-size: 25px;
    transition: color 1s ease;
}

.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

hr{
    background: #0e294a;
    height: 4px;
    border: none;
}

.footer-bottom p{
    text-align: center;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}


/* footer end*/
